// Заголовки, общие БЄМ блоки и проче...
.form-block {
	max-width: 300px;
	display: grid;
	row-gap: 20px;
	width: 100%;
	margin: 0px auto;
	.step-quiz_two & {
		background-color: #fff;
		padding: 35px;
		max-width: none;
		box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.05);
		border-radius: 20px;
	}
	&__label {
		font-weight: 500;
		@include adaptiveValue("font-size", 24, 16);
		line-height: math.div(29px, 24px) * 100%;
		text-align: center;
		color: $c1;
		max-width: 410px;

		&:not(:last-child) {
			margin: 0px auto 5px auto;
		}
	}
	// .form-block__input
	&__input {
		.step-quiz_two & {
			max-width: 300px;
			margin: 0px auto;
		}
	}
	// .form-block__button
	&__button {
		.step-quiz_two & {
			max-width: 300px;
			margin: 0px auto;
			width: 100%;
		}
	}
}

//=================================
// header-block
.header-block {
	text-align: center;
	max-width: 1066px;
	margin: 0px auto;
	// .header-block__title
	&__title {
		font-weight: 600;
		font-size: 42px;
		line-height: 120%;
		@include adaptiveValue("font-size", 42, 36, 1920, 1024, 1);
		&:not(:last-child) {
			margin-bottom: 30px;
		}
		@media (max-width: $mobile) {
			@include adaptiveValue("font-size", 36, 20, 768, 320, 1);
			&:not(:last-child) {
				margin-bottom: 30px;
				@include adaptiveValue("margin-bottom", 30, 20, 768, 320, 1);
			}
		}
	}
	// .header-block__dect
	&__dect {
		font-weight: 600;
		font-size: 28px;
		line-height: 140%;
		color: $c1;
		span {
			font-weight: 800;
			color: $sk;
		}
		@media (max-width: $mobile) {
			@include adaptiveValue("font-size", 28, 16, 768, 320, 1);
		}
	}
}

//=================================
// btn-arrow
.btn-arrow {
	width: 40px;
	height: 40px;
	flex: 0 0 40px;
	border-radius: 50%;
	transition: background-color 0.3s ease 0s;
	&.swiper-button-disabled {
		opacity: 0.3;
		pointer-events: none;
	}
	// .btn-arrow_next
	&_next {
		background: $c4 url("@img/icons/arrow-left.svg") center / 25px no-repeat;
	}
	// .btn-arrow_prev
	&_prev {
		background: $c4 url("@img/icons/arrow-right.svg") center / 25px no-repeat;
	}
	@media (any-hover: hover) {
		&:hover {
			background-color: $c3;
		}
	}
}

//=================================
//dotts
.dotts {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	gap: 10px;

	.swiper-pagination-bullet {
		width: 18px;
		height: 18px;
		flex: 0 0 18px;
		background-color: $c2;
		transition: all 0.3s ease 0s;
	}
	.swiper-pagination-bullet-active {
		transform: scale(1.25);
		background-color: $c2;
	}
}

//=================================
// chats
.chats {
	display: inline-flex;
	align-items: center;
	@include adaptiveValue("gap", 30, 5);
	// .chats__items
	&__items {
		display: flex;
		align-items: center;
		gap: 2px;
		@media (max-width: $mobile) {
			gap: 15px;
		}
	}
	// .chats__item
	&__item {
		flex: 0 0 34px;
		width: 34px;
		height: 34px;
		display: inline-flex;
		justify-content: center;
		align-items: center;
		border-radius: 50%;
		transition: all 0.3s ease 0s;
		svg {
			width: 28px;
			height: 28px;
		}
		img {
			max-width: 100%;
			width: 28px;
			height: 28px;
		}
		@media (any-hover: hover) {
			&:hover {
				box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.1);
				background-color: #fff;
			}
		}
		@media (max-width: $mobile) {
			flex: 0 0 44px;
			width: 44px;
			height: 44px;
			svg {
				width: 35px;
				height: 35px;
			}
			img {
				width: 35px;
				height: 35px;
			}
		}
	}
	// .chats__text
	&__text {
		@media (max-width: $mobileSmall) {
			display: none;
		}
	}
}

//=================================

@keyframes opacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@keyframes revOpacity {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}